body {
    padding-top: 40px;
}

.table > tbody > tr {
    cursor: pointer;
}

/**
 * Vertical align product photo
 */
@media only screen and (min-width: 768px) {
    .product-details-container {
        display: flex;
        align-items: center;
    }
}
